{% extends "base.html" %}

{% block content %}

<div class="upload-card">

    <div class="upload-header">
        <h2>📄 Add Document</h2>
        <p>Student : <strong>{{ student.name }}</strong></p>
    </div>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-group">

            <label>Document Type</label>

            {{ form.document_type }}

        </div>

        <div class="form-group">

            <label>Select File</label>

            {{ form.file }}

        </div>

        <div class="button-group">

            <a href="{% url 'student_documents' student.id %}" class="back-btn">
                ← Back
            </a>

            <button type="submit" class="upload-btn">
                Upload Document
            </button>

        </div>

    </form>

</div>

{% endblock %}